---
title: Start a Peer Lab
---

<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Start a Peer Lab</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <p class="lead">
        Peer labs started in Amsterdam as a part of the <a href="http://appsterdam.rs">Appsterdam</a> community. Sometime they're go by a different name, like "side-project Saturdays", or maybe they don't have a name at all. The important thing is just that they exist!
      </p>
      <p class="lead">
        Starting a peer lab is easier than you might think – you can read about a developer's experiences starting one <a href="http://artsy.github.io/blog/2015/08/10/peer-lab/">here</a>. It's a very fun and rewarding experience, and with just four steps you can help your local developer community flourish and grow. Just temember to keep a positive attitude and you'll do awesome!
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">1. Pick a Time</h2>
      <p class="lead">
        When are <em>you</em> free to do this? Do you like working in the evenings? Awesome! Do it then. Are Sunday afternoons your jam? Sweet. Whenever works for you.
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">2. Find a Space</h2>
      <p class="lead">
        This is easier than it might sound. As an organizer, you need a space that's convenient <em>for you</em>. I use my workplace because I live nearby. Samuel used a café by his apartment. Anywhere that has wifi. Pick a place that works for your time – for example, if you're meeting in the morning, a place with coffee is a good idea.
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">3. Let the World Know</h2>
      <p class="lead">
        Tweet it, send it to some friends, whatever works. You could ask your employer to pay for a Meetup account. Send details to popular developers in your city and ask them to help spread the word.
      </p>
      <p class="lead">
        Add your peer lab to this site by sending a pull request to <a href="https://github.com/ashfurrow/peerlab.community">our GitHub repo</a>. Instructions are in the readme, just open an issue if you have questions. 
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">4. Show Up</h2>
      <p class="lead">
        Most of success is just showing up. At the very least, you've got a nice time to jam every week, and hopefully you'll meet some other people to jam with.
      </p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->